.form-control {
    font-family: system-ui, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.1;
    display: inline-block;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}
input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 0.9em;
    height: 0.9em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(+0.15em);
}
.form-control + .form-control {
    margin-top: 1em;
}
input[type="checkbox"] {
    /* ...existing styles */

    display: grid;
    place-content: center;
}
    input[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
    }
input[type="checkbox"] {
    /* ...existing styles */
    display: grid;
    place-content: center;
}

    input[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
    }

    input[type="checkbox"]:checked::before {
        transform: scale(1);
    }
    input[type="checkbox"]::before {
        /* ...existing styles */
        /* Windows High Contrast Mode */
        background-color: CanvasText;
    }
    input[type="checkbox"]::before {
        /* ...existing styles */

        transform-origin: bottom left;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }
 
:root {
    --form-control-disabled: #959495;
}

input[type="checkbox"]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
}
.form-control--disabled {
    color: var(--form-control-disabled);
    cursor: not-allowed;
}