:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --grey: #6B7280;
    --pink: #EC4899;
    --purple: #8B5CF6;
    --light: #EEE;
}
 


.subTaskContent {
    display:  list-item;
    color: black;
    font-size: 13px;
    height: 333px;
}
div.buttonBox {/* to odpowiada za wciecia ktore cie interesuja*/
    display: inline-table;
    width : 238vh;
    
}


input.addSubTask .addSubTaskInput {
    display: inline;
}
button.addSubTask {
height: 25px;
width: 28px;

}
/* to odpowiada za szerokosci pionowych zestawów*/
#MainTasks {
    width: 100%;
    text-align: left;
    margin: 20px;
}
/*input[type="text"] {
    background: transparent;
    border: none;
}*/

input {
    width: 55%;
    height: 33px;
    padding: 12px 20px;
    margin: 1px 0;
    background: transparent;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 4px;
    color: black;
    font-size: 16px;

}
    input.singleSubTasksObject {
        width: 80%;
    }
.addSubTaskInput {
    width: 50%;
}
  


* {
    margin: 0;
     box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
}
body {
    min-height: 100vh;
    color: #FFF;
    background-color: var(--dark);
}
input#title,#description,#projectId, #projectNumber   {
    width: 100%;
    height: 11px;
    padding: 12px 20px;
    margin: 1px 0;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 4px;
    background-color: darkgray;
    color: black;
    font-size: 16px;
}
p3 {
    padding: 12px 1%;
    font-size: 22px;
}


button {
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
    width: 100%;
    height: 3rem;
    color: white;
    background-image: linear-gradient(to right, var(--grey), var(--darker));
}
