:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --grey: #6B7280;
    --pink: #EC4899;
    --purple: #8B5CF6;
    --light: #EEE;
}
body {
    min-height: 100vh;
    color: #FFF;
    background-color: var(--dark);
}
input[type=text] {
    width: 100%;
    height: 11px;
    padding: 12px 20px;
    margin: 1px 0;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 4px;
    background-color: darkgray;
    color: black;
    font-size: 16px;
}
p3 {
    padding: 12px 1%;
    font-size: 22px;
}


button {
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
    width: 100%;
    height: 3rem;
    color: white;
    background-image: linear-gradient(to right, var(--grey), var(--darker));
}
