body 
{
    background-color: slategrey;
    cursor: auto;
     
}

    input [type='submit'], button, [aria-label] {
    cursor: help;
}
p {
    line-height: 8px;
    width: 40em;
    overflow-wrap: normal;
}
#editForm {
    display: none;
    cursor: move;
}

table {
    font-family: 'Times New Roman', 'Curlz MT', serif, sans-serif;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    background-color: #ffd800;
    padding: 11px;
}

td {
    border: 2px solid;
    padding: 11px;
}

button {
    background-color: green;
    color: white;
    font: bold 99% 'trebuchet ms',helvetica,sans-serif;
    border: 2px solid #5a10e5; /* Green */
}
input[type="submit"] {
    color: #050;
    font: bold 99% 'trebuchet ms',helvetica,sans-serif;
    background-color: #fed;
    border: 1px solid;
    border-color: #696 #363 #363 #696;
}
 
hr {
    width: 122px;
    margin-left: 24px;
    margin-right: auto;
    margin-bottom:11px;
    height: 10px;
    background-color: #4800ff;
     
}
 
 

#wrapper {

    width: 100px;
    height: 80px;
    margin-left: 25px;
    border-left: 11px solid black;
    border-right: 11px solid black;
    overflow: hidden; /* will contain if #first is longer than #second */
}

#first {
    width: 30px;
    float: left; /* add this */
    border: 11px solid slategrey;
    background-color: black;
}

#second {
    border: 1px solid slategrey;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}
 