:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --grey: #6B7280;
    --pink: #EC4899;
    --purple: #8B5CF6;
    --light: #EEE;
}

* {
    margin: 0;
   /* box-sizing: border-box;*/
    font-family: "Fira sans", sans-serif;
}
.projectNumberHTML {
    background-color: var(--pink);
    width: fit-content;
    max-width: fit-content
}
body {
    display: flex;
    flex-direction: column;
    color: #FFF;
    background-color: var(--dark);
}
/*input, .text {*/ /* pola tekstowe poszczegolnych propertisow  .text */
    /* appearance: none;
    border: none;
    outline: none;
    background: none;*/
    /*display: inline;
    font-size: medium;
    width: 444px;
    background-color: var(--grey);
    flex-wrap: initial;
}*/

.edit {
    background-color: var(--grey);
    width: 300px;
    height: 33px;
    font-size: 21px;
}

#createProjectButton, #createExamplesInDb {
    height: 33px;
    font-size: 1.125rem;
    width: 60%;
    margin: auto;
    max-width: 800px;
    border-radius: 17px;
}
#createExamplesInDb {
    background-color: red;
}
#createProjectButton {
    background-color: var(--grey);
}

/*header {
    padding: 0rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}*/

 /*   header h1 {
        font-size: 2.5rem;
        font-weight: 300;
        color: var(--grey);
        margin-bottom: 1rem;
    }*/
/*#new-task-form {
    display: none;
}*/


/*.task .content {
    flex: 1 1 0%;
}

    .task .content .text {
        //.content .text color: var(--light);
        font-size: 1.125rem;
        width: 100%;
        display: block;
        transition: 0.4s;
    }*/
 
/*#new-task-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
} */
 /*   #new-task-input::placeholder {
        color: var(--grey);
    } */
/*#new-task-submit {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}*/
/*
    #new-task-submit:hover {
        opacity: 0.8;
    }*/

    /*#new-task-submit:active {
        opacity: 0.6;
    }

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

    .task-list h2 {
        font-size: 1.5rem;
        font-weight: 300;
        color: var(--grey);
        margin-bottom: 1rem;
    }

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

 


.task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

    .task .actions button {
        cursor: pointer;
        margin: 0 0.5rem;
        font-size: 1.125rem;
        font-weight: 700;
        text-transform: uppercase;
        transition: 0.4s;
    }

        .task .actions button:hover {
            opacity: 0.8;
        }

        .task .actions button:active {
            opacity: 0.6;
        }

    .task .actions .edit {
        font-size: 33px;
        background-image: linear-gradient(to right, var(--pink), var(--purple));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .task .actions .delete {
        color: crimson;
    }

.delete {
    display: none;
}


button {
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
    width: 100%;
    height: 3rem;
    color: white;
    background-image: linear-gradient(to right, var(--grey), var(--darker));
}*/